.card-footer {
  display: flex;
  justify-content: space-between;
}
img{
    max-height: 200px;
}
/*
#contenedor>div{
    max-height: 500px;
    text-overflow:ellipsis;
    overflow:hidden;
}*/

.card-title{
    max-height: 100px;
    text-overflow:ellipsis;
    overflow:hidden;
}
.card-text{
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px; /* fallback */
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
   max-height: 200px;
   
}